.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

div.gravatar img {
  margin: 1rem auto;
}

.sidebar-nav-item {
  text-transform: capitalize;
}

.center {
  margin: auto;
}

.title-case {
  text-transform: capitalize;
}

img.left {
  float: left;
  margin: 0 1rem 1rem 0;
}

img.right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.page-tags {
  text-align: center;
  margin-bottom: 1rem;
}

ul.tags {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-block;
  list-style-type: none;
  line-height: 2rem;
}

li.tag {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.2rem;
}

h2.tag {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: solid 1px #999;
}

.tag a {
  border: solid 1px #ddd;;
  font-size: 0.8rem;
  line-height: 1.9rem;
  background-color: #eee;
  color: #222;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  text-decoration: none;
}

.tag a[data-selected="true"] {
  border-width: 3px;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.125);
}

.tag a[data-enabled="false"] {
  border: solid 1px #eee !important;
  background-color: #fafafa !important;
  color: #666 !important;
}

.tag:hover a {
  background-color: #ccc;
}

.tag a::before {
  content: "#";
}

.filter[data-enabled="false"] {
  display: none;
}

.filter {
  text-align: center;
}

.filter a {
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  border: solid 2px #04A;
  color: #666;
}

.filter a:hover {
  text-decoration: none;
}

section[data-enabled="false"] {
  display: none;
}

h1, h2, h3, h4,
hr,
.clear-both {
  clear: both;
}

.footnotes {
  border-top: solid 1px #eee;
  padding-top: 0.75em;
  font-size: 0.8em;
}

.footnotes li p {
  margin-bottom: 0.25em;
}

pre {
  white-space: pre;
  overflow: auto;
}

.highlight table,
.highlight code table td,
.highlight code table td pre {
  border-width: 0 !important;
  margin-bottom: 0;
  padding: 0.25rem 0.25rem;
}
