<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <div class="gravatar">
      <img src="{{ site.author.gravatar }}?s=125" />
      {% avatar {{site.author.github}} size=125 %}
    </div>

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {%- assign pages_list = site.pages | sort:"url" %}
    {%- for node in pages_list %}
      {%- if node.title != null %}
        {%- if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  </nav>

  {%- include social-media-links.html %}

  <div class="sidebar-item">
    <p>{{ site.description }}</p>
    <p>Find me on {{ social_media_links | array_to_sentence_string }}</p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
