@font-face {
	font-family: Quicksand; 
	src: url('../fonts/Quicksand_Light.otf');
} 

@font-face {
	font-family: Delicious;
	font-weight: bold;
	src: url('../fonts/Quicksand_Light_Oblique');
}

#saving {
	color: #fff;
	float: right;
	padding: 0.5em;
	background-color: #a66;
	border-radius: 3px;
}

#settings ol {
	list-style-type: none;
}

#settings em {
	display: inline-block;
	text-align: right;
	min-width: 75px;
}

h1, h2, h3, h4 {
	font-family: Quicksand, sans-serif;
	font-weight: lighter;
}

legend {
	font-family: Quicksand, sans-serif;
}

.well h1, .well h2, .well h3, .well h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.well ol {
	margin-left: 0;
}

th.center,
td.center {
	text-align: center;
}

th.right,
td.right {
	text-align: right;
}

a.delete {
	display: none;
	float: right;
}

td:hover a.delete {
	display: inline;
}

td input,
td select {
	padding: 2px;
	height: 1.8em;
	margin: 0;
}

.modal-body ul.profiles {
	list-style-type: none;
}

.modal form {
	margin: 0;
	padding: 0;
}

.modal .control-group {
	margin-bottom: 0.25em;
}

.modal legend {
	margin-bottom: 0;
}

.modal .alert {
	margin: 0;
}

.well h2 {
	margin: 0;
}

.footer {
	font-size: 85%;
	color: #888;
}

@media print {
	.hidden-for-print {
		display: none !important;
	}

	table, tr, th, td {
		background-color: #fff;
	}

	div.footer {
		position: fixed;
		bottom: 0;
	}

	input[type=select],
	select {
		width: 120%;
		overflow: hidden;
		border: none;
	}
}
