<!DOCTYPE html>
<html lang="en-us">
  {%- include head.html %}

  <body>
    {%- include sidebar.html %}

    <div class="masthead">
      <div class="container">
        <label for="sidebar-checkbox" class="sidebar-toggle"></label>
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h1>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>

    <script src="{{ site.baseurl }}/public/js/sidebar.js"></script>
    <script src="{{ site.baseurl }}/public/js/tags.js" defer></script>
    <script src="{{ site.baseurl }}/public/js/code-copy.js" defer></script>
{%- if page.scripts %}
  {%- for script in page.scripts %}
    <script src="{{ site.baseul }}/public/js/{{script}}" defer></script>
  {%- endfor %}
{%- endif %}
  </body>
</html>
