---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {%- include page-tags.html %}
  {{ content }}
  {%- include attachments.html %}
  {%- include related.html %}
  {%- unless page.disable-comments %}
  <div id="disqus_thread"></div>

  <script>
    window.disqus = {
      url: "{{ site.service.disqus }}"
    };
    
    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";
      this.page.identifier = "{{ page.id }}";
    };
  </script>
  <script src="{{ site.baseurl }}/public/js/disqus.js"></script>
  {%- endunless  %}
</div>
